<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="DXApplication5.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="ALHUDAEMPLOYEES.My.MySettings.EmployeeConnectionString"
      connectionString="Data Source=MAZEN-PC\TEST;Initial Catalog=Employee;Persist Security Info=True;User ID=sa;Password=Sa123456"
      providerName="System.Data.SqlClient" />
    <add name="HO_DATAConnectionString" connectionString="XpoProvider=MSSqlServer;data source=192.168.0.20;user id=sa;password=Sa123456;initial catalog=HO_DATA;Persist Security Info=true" />
    <add name="WizCountString_Connection" connectionString="XpoProvider=MSSqlServer;data source=WIZCOUNT\WIZSOFT;user id=;password=;initial catalog=ALHUDA;Persist Security Info=true" />
    <add name="WizCountString_ALHUDA_Connection" connectionString="XpoProvider=MSSqlServer;data source=WIZCOUNT\WIZSOFT;user id=sa;password=1234;initial catalog=ALHUDA;Persist Security Info=true" />
    <add name="localhost_WALLET_Connection" connectionString="XpoProvider=MSSqlServer;data source=WIZCOUNT\WIZSOFT;user id=sa;password=1234;initial catalog=WALLET;Persist Security Info=true" />
    <add name="WizcountConnectionString" connectionString="XpoProvider=MSSqlServer;data source=WIZCOUNT\WIZSOFT;user id=sa;password=1234;initial catalog=ALHUDA;Persist Security Info=true" />
    <add name="CRMConnectionString" connectionString="XpoProvider=MSSqlServer;data source=WIZCOUNT\WIZSOFT;user id=sa;password=1234;initial catalog=CRM;Persist Security Info=true" />
    <add name="WALLETConnectionString" connectionString="XpoProvider=MSSqlServer;data source=WIZCOUNT\WIZSOFT;user id=sa;password=1234;initial catalog=WALLET;Persist Security Info=true" />
    <add name="DXApplication5.Settings.HO_DATAConnectionString" connectionString="Data Source=192.168.0.20;Initial Catalog=HO_DATA;User ID=sa;Password=Sa123456"
      providerName="System.Data.SqlClient" />
    <add name="DXApplication5.Settings.CRMConnectionString" connectionString="Data Source=WIZCOUNT\WIZSOFT;Initial Catalog=CRM;Persist Security Info=True;User ID=sa;Password=1234"
      providerName="System.Data.SqlClient" />
    <add name="DXApplication5.Settings.WizcountConnectionString"
      connectionString="Data Source=WIZCOUNT\WIZSOFT;Initial Catalog=ALHUDA;User ID=sa;Password=1234"
      providerName="System.Data.SqlClient" />
    <add name="DXApplication5.Settings.WALLETConnectionString" connectionString="Data Source=WIZCOUNT\WIZSOFT;Initial Catalog=WALLET;Persist Security Info=True;User ID=sa;Password=1234"
      providerName="System.Data.SqlClient" />
    <add name="DXApplication5.Settings.ChequesConnectionString" connectionString="Data Source=WIZCOUNT\WIZSOFT;Initial Catalog=ClearingSystem;User ID=sa;Password=1234"
      providerName="System.Data.SqlClient" />
    <add name="ChequesConnectionString" connectionString="XpoProvider=MSSqlServer;data source=WIZCOUNT\WIZSOFT;user id=sa;password=1234;initial catalog=ClearingSystem;Persist Security Info=true" />
  </connectionStrings>
  <userSettings>
    <DXApplication5.Settings>
      <setting name="UserName" serializeAs="String">
        <value />
      </setting>
      <setting name="DeviceName" serializeAs="String">
        <value />
      </setting>
      <setting name="AlertMessage" serializeAs="String">
        <value>لضمان إستمرار تزويدك بالمحروقات، يرجى تسديد المبلغ المستحق خلال 3 ايام، للاستفسار يرجى الاتصال على 022444444</value>
      </setting>
      <setting name="StopMessage" serializeAs="String">
        <value>ناسف لوقف تزويدكم بالمحروقات وذلك بسبب عدم تسديد المبلغ المستحق. للاستفسار يرجى الاتصال على 022444444</value>
      </setting>
    </DXApplication5.Settings>
  </userSettings>
</configuration>